@import 'tailwindcss';
@import '@nuxt/ui';

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* Markdown styling */

.markdown h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.markdown h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.markdown h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.markdown h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}
.markdown ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

/* Devices */

.single-light {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
}

#big-single-light {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
}

#outlet {
  width: 4rem;
  height: 9.375rem;
  border-radius: 10%;
  background: #fff;
}

.circuit-breaker {
  width: 6.25rem;
  height: 2.75rem;
  border-radius: 10%;
  background: #fff;
  border: 1px solid #0f172b;
}
